{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container p-5">
    <div class="col-lg-7 shadow mx-auto p-4">
        <div class="d-grid">
            <a class="btn btn-success" href="/add_todo">Create</a>
        </div>
        <hr/>

        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Priority</td>
                </tr>
            </thead>
            <tbody>
                {%csrf_token%} {% for todo in todos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.priority}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}