{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="container p-5">
    <div class="col-lg-7 shadow mx-auto p-4">
        <div class="d-grid">
            <a class="btn btn-success" href="/add_todo">Create</a>
        </div>
        <hr/> {%if todos|length > 0%}
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Priority</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {%csrf_token%} {% for todo in todos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{todo.title}}</td>
                    <td>
                        {%if todo.status == 'c'%} ✅ {%else%} 🕒 {%endif%}
                    </td>
                    <td>{{todo.priority}}</td>
                    <td>
                        <a href="/delete_todo/{{todo.id}}">🗑️</a> {%if todo.status == 'c'%}
                        <a href="/change_status/{{todo.id}}/p">🕒</a> {%else%}
                        <a href="/change_status/{{todo.id}}/c">✅</a> {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%else%}
        <div class=" alert alert-danger"> No ToDos</div>
        {%endif%}
    </div>
</div>
{% endblock %}