{% extends "base.html" %} {% block title %}SignUp{% endblock %} {% block content %}
<div class="col-lg-5 shadow mx-auto p-0">
    <div class="alert alert-success">
        <h6>Sign Up</h6>
    </div>
    <div class="p-4">
        <form method="post" action="/signup">
            {%csrf_token%} {{form.as_div}}
            <hr/>
            <input class="btn btn-outline-success" type="submit" value="Sign Up" />
        </form>
        <div class="mt-2">
            <h6>Alderdy have an account?
                <a class="link" href="/login">Log In</a>
            </h6>
        </div>
    </div>
</div>

{% endblock %}