{% extends "base.html" %} {% block title %}SignUp{% endblock %} {% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="col-lg-5 shadow mx-auto p-0">
    <div class="alert alert-success">
        <h6>Sign Up</h6>
    </div>
    <div class="p-4">
        <form method="post" action="/signup">
            {%csrf_token%} {{form.as_table}}
            <hr/>
            <input class="btn btn-outline-success" type="submit" value="Sign Up" />
        </form>
    </div>
</div>

{% endblock %}